body {
    font-family: Arial, sans-serif;
    background-color: paleturquoise;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"], select, input[type="date"], button {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.complete {
    text-decoration: line-through;
    color: honeydew;
}

.category-personal {
    background-color: #ffc;
}

.category-work {
    background-color: #cfc;
}

.category-shopping {
    background-color: #ccf;
}
